.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d371cb;
  padding: 10px;
}
